body {
    margin: 0;
    padding: 0;
}
.index_header {
    width: 100vw;
    height: 8vh;
    background: #4C7ED5;

}
.index_header h4 {
   text-align: center;
    line-height: 8vh;
    color: #ffffff;
}
.imageDetail {
    width: 15vw;
    height: 25vh;
    margin-top: 1vh;
    text-align: center;
}
.imageModel {
    width: auto;
    height: 70vh;
}
@media screen and (max-width: 700px) {
    .index_header h4 {
        text-align: center;
        line-height: 8vh;
        color: #ffffff;
        /*font-size: 1rem;*/
    }
    .index_content{
        width: 100%;
    }
    /*table{*/
        /*font-size: 0.1px;*/
    /*}*/
    td{
        margin: 0;
        padding: 0;
    }
    .text {
        width: 100%;
    }
    .imageDetail{
        width: 20vw;
        height: 20vw;
        margin: 1vw;
        text-align: center;
    }
}
